body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
}

footer{
    
    padding: 20px 0;
}
.jumbotron {
    padding: 30px;
    /* background-color: #262e3b;
     */
     background-color: transparent;
    color:goldenrod;
    margin: 0;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: goldenrod;
    color: black;
}
.nav-col{
   color: black;
}

carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: black;
 
}

#modal{
    border-color: cornflowerblue;
}
#footerrow{
    background-color: lightgrey;
    height: 79px;
}
#feedbk{
    background-color: silver;
}
.modal .modal-dialog{
    max-width:630px;
    border-color: cornflowerblue;
}
.modal-content{
    background-color: black;
    border-color: cornflowerblue;
}
body{
    background-image: url(/img/cs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.img-fluid{
    border-top-color: lightblue;
}